@using Guitaria.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav" style="gap:1rem; margin-right:2rem;">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="ShowCart"><img src="https://cdn-icons-png.flaticon.com/512/3144/3144456.png" style="width: 2rem; height: 2rem;"></a>
        </li>
        @if (User?.Identity?.IsAuthenticated ?? false && User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <b><font size="+1"><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ControlPage"><img src="https://cdn-icons-png.flaticon.com/512/78/78948.png" style="width: 2rem; height: 2rem;">Control Page</a></font></b>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-controller="User" asp-action="Logout" asp-route-id="@UserManager.GetUserId(User)">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
        
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>
