<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Guitaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Guitaria.styles.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body class=""style="background-image:url(https://i.pinimg.com/originals/00/6a/9a/006a9addada9e46027cd4d84cbb3bf6d.png);height:100vh;width:99.1vw;background-repeat:no-repeat;background-attachment:fixed ">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow" style="background-color:aquamarine">
            <div class="container-fluid" style="margin-left:5%; background-color:aquamarine">
                <a class="" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/favicon/GuitariaLogo.png" width="210px" height="54px" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*<form class="form-inline">
                <input class="form-control" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>*@
                <ul class="navbar-nav flex-grow-1" style="margin-left: 2rem; gap: 2rem;">

                    <li class="nav-item">
                        <b><font size="+1"> <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="All"><img src="https://cdn-icons-png.flaticon.com/512/82/82122.png" style="width:2.5rem;height:2.5rem;" /> Categories</a></font></b>
                    </li>
                    <li>
                        <div class="mt-2" style="width:47rem; margin-left: 2rem">
                            <form asp-action="All" asp-area="" asp-controller="Product" method="get">
                                <input class="input-group-lg form-control" type="" placeholder=" Search..." name="searchQuery">
                            </form>
                        </div>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>

    </header>
    <div class="container " style="height: 100%;min-height:100vh; width:1260px;background-color: white;">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>

    </div>

     
   
    <style>
        * {
            margin: 0;
        }

        html, body {
            height: 100%;
        }

        .page-wrap {
            min-height: 100%;
            /* equal to footer height */
            margin-bottom: -142px;
        }

            .page-wrap:after {
                content: "";
                display: block;
            }

            .site-footer, .page-wrap:after {
                height: 142px;
            }

        .site-footer {
            background: orange;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
